*
!.gitignore
!pictures
!pictures/img1.jpg
!pictures/img2.jpg
!pictures/img3.jpg
!pictures/margot.jpg
!pictures/face-5.jpg
!pictures/face-6.jpg

!pictures-seed
!pictures-seed/img1.jpg
!pictures-seed/img2.jpg
!pictures-seed/img3.jpg
!pictures-seed/margot.jpg
!pictures-seed/face-5.jpg
!pictures-seed/face-6.jpg

